# Python
__pycache__/
*.pyc
.venv/


# Models
models/*
!models/.gitkeep

# Environment
.env

# IDE
.idea/

# OS
.DS_Store
Thumbs.db

# Project-specific
data/rag_index/


# Python virtualenv
backend/venv/
venv/
.venv/


# python packaging
*.egg-info/
